/* * {
    margin: 0;
    padding: 0;
    border: 0;
  } */

/* .table {
    border-collapse: collapse;
    padding-bottom: 0;
    
} */
/* 
thead tr {
  text-align: left;
  
} */

/* thead th {
  font-style: normal;
  font-size: small;
  font-weight: 10;
  color: #aeadad;
} */


/* tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
} */



